/* Reset toàn bộ trang */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden; /* Đảm bảo không có cuộn ngang */
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%; /* Đặt slideshow vừa với chiều ngang của màn hình */
    position: relative;
    margin: 0 auto; /* Căn giữa slideshow */
}
.container {
  position: relative;
  top: -15px; /* Điều chỉnh giá trị này để slideshow dịch lên trên */
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.mySlides img {
    width: 100%; /* Đảm bảo ảnh vừa với chiều rộng của container */
    height: auto;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Header */
.header {
    background-color: #fbbf24;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem; /* Căn chỉnh header tốt hơn */
    margin: 0; /* Xóa bỏ khoảng trống ở trên */
}

.header a {
    color: #1f2937;
    text-decoration: none;
}

.header a:hover {
    color: #d97706;
}

/* Section Title */
.section-title {
    color: #d97706;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
}

/* Product Card */
.product-card {
    border: 1px solid #e5e7eb;
    padding: 1rem;
    background-color: #ffffff;
}

.product-card img {
    width: 90%;
    height: auto;
}

.product-card .price {
    color: #d97706;
    font-weight: bold;
}
.container6 {
    background-color: #ffa500; /* Màu nền cam */
    padding: 20px;
    border-radius: 8px;
    min-height: 150px; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    margin-top: 0px;
  }
  .niendep h2 {
    font-weight: bold; /* Làm cho chữ đậm */
    font-size: 20px; /* Thay đổi kích thước chữ nếu cần */
    text-align: left;
}
.hotline-phone-ring-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999999;
  }
  .hotline-phone-ring {
    position: relative;
    visibility: visible;
    background-color: transparent;
    width: 110px;
    height: 110px;
    cursor: pointer;
    z-index: 11;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transition: visibility .5s;
    left: 0;
    bottom: 0;
    display: block;
  }
  .hotline-phone-ring-circle {
      width: 85px;
    height: 85px;
    top: 10px;
    left: 10px;
    position: absolute;
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid #e60808;
    -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 0.5;
  }
  .hotline-phone-ring-circle-fill {
      width: 55px;
    height: 55px;
    top: 25px;
    left: 25px;
    position: absolute;
    background-color: rgba(230, 8, 8, 0.7);
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  .hotline-phone-ring-img-circle {
      background-color: #e60808;
      width: 33px;
    height: 33px;
    top: 37px;
    left: 37px;
    position: absolute;
    background-size: 20px;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hotline-phone-ring-img-circle .pps-btn-img {
      display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .hotline-phone-ring-img-circle .pps-btn-img img {
      width: 20px;
      height: 20px;
  }
  .hotline-bar {
    position: absolute;
    background: rgba(230, 8, 8, 0.75);
    height: 40px;
    width: 180px;
    line-height: 40px;
    border-radius: 3px;
    padding: 0 10px;
    background-size: 100%;
    cursor: pointer;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    z-index: 9;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px !important;
    /* width: 175px !important; */
    left: 33px;
    bottom: 37px;
  }
  .hotline-bar > a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-indent: 50px;
    display: block;
    letter-spacing: 1px;
    line-height: 40px;
    font-family: Arial;
  }
  .hotline-bar > a:hover,
  .hotline-bar > a:active {
    color: #fff;
  }
  @-webkit-keyframes phonering-alo-circle-anim {
    0% {
      -webkit-transform: rotate(0) scale(0.5) skew(1deg);
      -webkit-opacity: 0.1;
    }
    30% {
      -webkit-transform: rotate(0) scale(0.7) skew(1deg);
      -webkit-opacity: 0.5;
    }
    100% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
      -webkit-opacity: 0.1;
    }
  }
  @-webkit-keyframes phonering-alo-circle-fill-anim {
    0% {
      -webkit-transform: rotate(0) scale(0.7) skew(1deg);
      opacity: 0.6;
    }
    50% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
      opacity: 0.6;
    }
    100% {
      -webkit-transform: rotate(0) scale(0.7) skew(1deg);
      opacity: 0.6;
    }
  }
  @-webkit-keyframes phonering-alo-circle-img-anim {
    0% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
      -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
      -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
      -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
      -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
  }
  @media (max-width: 768px) {
    .hotline-bar {
      display: none;
    }
  }